* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: 100vh;
    background: #edf2f3;
    position: relative;
}
nav {
    width: 84%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    display: flex;
    padding: 20px 0;
}
.logo {
    width: 100px;
    cursor: pointer;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color:#606163;
    font-weight: 6  00;
}
nav ul li a:hover {
    color: #ff4321;
}
.info {
    margin-left: 8%;
    margin-top: 15%;
}
.info h1 {
    font-size: 70px;
    color: #212121;
    margin-bottom: 20px;
}
.info span {
    color:#ff4321;
}
.info p {
    color: #606163;
    line-height: 22px;
}
.info a {
    text-decoration: none;
    background: #212121;
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: background 1s;
}
.info a:hover {
    background: #ff4321;
}

/* --------image box------- */
.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}
.img-box:hover .back-img {
    bottom: 45px;
}
.img-box:hover .girl-img {
    left: 54%;
}



.social-links {
    margin-left: 8%;
    margin-top: 100px;
}
.social-links  a {
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
    transition: color 0.5s;
}
.social-links  a:hover {
    color: #ff4321;
}