@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
}
.hero {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: #edf2fc;
    position: relative;
}
nav {
    width: 84%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0;
    display: flex;
}
.logo {
    width: 100px;
    cursor: pointer;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
    font-weight: 500;

}
nav ul li a:hover {
    color: #ff4321;
}
.info {
    margin-left: 8%;
    margin-top: 15%;
}
.info h1 {
    font-size: 70px;
    color: #212121;
    margin-bottom: 20px;
}
span {
    color: #ff4321;
}
.info p {
    color: #606163;
    line-height: 22px;
}
.info a {
    text-decoration: none;
    color: #fff;
    background: #212121;
    padding: 10px 20px;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box:hover .back-img {
    bottom: 40px;
}
.img-box:hover .main-img {
    left: 54%;
}
.social-links {
    margin-left: 8%;
    margin-top: 100px;
}
.social-links a {
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
}
.social-links a:hover {
     color: #ff4321;
}